#head
{
    background-color:  #2196F3;
}
#home
{
    font-weight: 400;
    line-height: 30px;
    background-color: #7FC8F8;
   hr {
    border-width: 4px;
    border-color: black;
    
   }
}
.list:hover
{
    color: rgb(216, 80, 22);
    font-weight: 900;
}
#login
{
    background-color: #5aa9e6;
    font-size: medium;
    font-weight: 600;
    color: black;
}
#login:hover
    {
        color: coral;
        background-color: chartreuse;
    }

#div3:hover
{
    transform: scale(1.1);
}
.loginpage:active
{
    color: red;
}
#head:hover
{
    color: coral;
   
}
h1:hover
{
    color: coral;
}
footer>div
{
    background-color: rgb(120, 160, 195);
}
.foot
{
    font-weight: 50;
    line-height: 30px;
}
h3
{
    text-decoration: rgb(182, 34, 103) dotted underline;
}
h3:hover
{
    color: brown;
    font-weight:bold;
}
.links:hover
{
    color: brown;
    font-weight: 800;
    
}
#login
{
    border-radius: 5px;
    border-bottom:dotted;
}
body
{
    background-color:ghostwhite;
}